# üß† Subqueries, Common Table Expressions (CTEs), and Views

## üìä Subqueries Overview

A **subquery** is a query inside another query. It can return:

- A single value  
- A single row  
- An entire table  

Subqueries are typically used to:

- Filter data  
- Calculate aggregates  
- Compare results from different queries  

---

### üß≠ Common Places You'll Use Subqueries:

- `WHERE` clauses  
- `FROM` clauses  
- `SELECT` clauses  

---

## üóÇÔ∏è Key Types of Subqueries

- **Scalar Subquery**: Returns a single value  
- **Row Subquery**: Returns a single row with multiple columns  
- **Table Subquery**: Returns multiple rows and columns  

---

## Basic Syntax

```sql
SELECT column1, column2
FROM table1
WHERE column1 IN (
    SELECT column1
    FROM table2
    WHERE condition
);


---

```sql
SELECT sub.column1, sub.column2
FROM (
    SELECT column1, column2
    FROM table1
    WHERE condition
) AS sub;


### üë®‚Äçüíª Let‚Äôs dive into some examples to demonstrate each type!

## üîå Connecting to the MySQL Database

Before we begin writing subqueries, let's connect our Jupyter Notebook to the MySQL database using the `%sql` magic command.

> üì¶ Make sure you've installed the following packages:
>
> - `ipython-sql`  
> - `pymysql`

In [1]:
# Load SQL extension for Jupyter
%load_ext sql

In [2]:
# Connect to the database
# Replace 'password' with your actual MySQL password
%sql mysql+pymysql://root:pass55ap@localhost:3306/company_db

'Connected: root@company_db'

### üßÆ 1. Scalar Subquery Example

**Question**: Find the employees whose salary is greater than the **average salary of all employees**.

A **scalar subquery** returns a single value ‚Äî in this case, the average salary.

In [ ]:
%%sql

### üßæ 2. Table Subquery Example

**Question**: List all employees who work in the same department as **'Alice'**.

A **table subquery** returns multiple rows and columns and is often used in the `FROM` clause or as part of `IN` conditions.

In [ ]:
%%sql

### üîÅ 3. Correlated Subquery Example

**Question**: Find the employees who earn more than the **average salary in their department**.

A **correlated subquery** refers to columns from the outer query and is evaluated **once per row**.

In [ ]:
%%ssql

## üß± CTEs (Common Table Expressions) Overview

A **CTE (Common Table Expression)** is a **temporary result set** that you can reference within a `SELECT`, `INSERT`, `UPDATE`, or `DELETE` query.

CTEs are defined using the `WITH` keyword and are similar to subqueries ‚Äî but more **readable** and **reusable**.

They‚Äôre especially helpful when you want to:

- Break a complex query into multiple logical steps  
- Avoid repeating the same subquery multiple times  
- Improve query structure and readability


**Basic Syntax**

````sql
WITH cte_name AS (
    -- your query goes here
    SELECT column1, column2
    FROM table_name
    WHERE condition
)
SELECT column1, column2
FROM cte_name;

### üß± 1. Simple CTE Example

**Question**: Find the **average salary per department**, and then list the employees who earn **more than the average** in their department.

We‚Äôll use a **CTE** to calculate the average salary per department, then reference it in the main query.

In [ ]:
%%sql

### üß± 2. CTE with Multiple CTEs

**Question**: Get the **highest-paid employee in each department**, and also get the **department‚Äôs average salary**.

We‚Äôll define two CTEs: one for department averages and one for top earners.

In [ ]:
%%sql

## ü™ü Views Overview

A **view** in SQL is essentially a **saved query** that you can treat like a table.  
It allows you to create a **virtual table** from one or more tables, and you can use it in your queries just like a regular table.

Views are especially useful for:

- Simplifying complex queries  
- Enhancing security  
- Abstracting logic from end users  

---

### ‚≠ê Key Benefits of Views

- **Simplicity**: Simplifies complex queries by storing common query logic.
- **Security**: Restricts access to specific columns or rows in a table.
- **Reusability**: Once created, a view can be reused in multiple queries.


### Basic Syntax to Create a View:

````sql
CREATE VIEW view_name AS
SELECT column1, column2, ...
FROM table_name
WHERE condition;

### ü™ü 1. Basic View Example

**Question**: Create a view that shows the **employee names**, their **salaries**, and their **department names**.

In [ ]:
%%sql

### ü™ü 2. View with Aggregation

**Question**: Create a view to show the total salary expenses by department.

In [ ]:
%%sql

### üõ°Ô∏è 3. Using Views for Security

**Question**: Create a view that excludes salary information for HR department employees, for restricted access.

In [ ]:
%%sql

### üìã Comparison: Subqueries vs. CTEs vs. Views

| **Features**     | **Subqueries**                                                                                                            | **CTEs**                                                                                                                                                                    | **Views**                                                                                                                                                                           |
| ----------------- | ------------------------------------------------------------------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| **Definition**    | A query nested inside another query.                                                                                      | A temporary result set defined within a query using the `WITH` keyword.                                                                                                     | A saved query that can be treated like a table.                                                                                                                                     |
| **Syntax**        | Nested inside `SELECT`, `INSERT`, `UPDATE`, `DELETE`.                                                                     | Defined using `WITH` keyword before the main query.                                                                                                                         | Defined with `CREATE VIEW` to save the query as a virtual table.                                                                                                                    |
| **Readability**   | Can be harder to read, especially if deeply nested.                                                                       | Easier to read and understand; breaks complex queries into steps.                                                                                                           | Simplifies recurring complex queries for reuse.                                                                                                                                     |
| **Performance**   | May be less efficient for repeated queries; evaluated for each row in some cases.                                         | Often more efficient for complex queries as they are evaluated once per query execution.                                                                                    | Depending on the DBMS, may be cached, improving performance for repeated queries.                                                                                                   |
| **Use Case**      | - Filtering data (e.g., comparison between rows). <br> - Simple aggregations or comparisons.                              | - Breaking down complex queries into readable chunks. <br> - Recursive queries. <br> - Reusable logic within a query.                                                       | - Simplifying complex queries for reuse. <br> - Restricting access to specific columns or rows. <br> - Sharing commonly used data across multiple queries.                          |
| **When to Use**   | - When you need a quick, temporary result in a query.<br> - For comparing values between rows (e.g., `IN`, `ANY`, `ALL`). | - When breaking down complex queries into logical steps.<br> - When needing to recursively process hierarchical data.<br> - When querying the same subquery multiple times. | - When you need to simplify and reuse complex queries.<br> - For creating a consistent data access layer across applications.<br> - When restricting or abstracting sensitive data. |
| **Updatability**  | Subqueries cannot usually be updated directly.                                                                            | CTEs are generally not updatable (unless simple and direct).                                                                                                                | Views may or may not be updatable, depending on their complexity (e.g., if they involve aggregation, joins, etc.).                                                                  |
| **Persistence**   | Temporary; exists only within the query execution.                                                                        | Temporary; only exists during query execution.                                                                                                                              | Persistent; remains in the database until explicitly dropped.                                                                                                                       |
| **Flexibility**   | Less flexible; cannot reference the same subquery multiple times in a single query.                                       | More flexible; can reference multiple CTEs within a query.                                                                                                                  | Very flexible; can be used in any query and treated like a table.                                                                                                                   |
| **Example Query** | `SELECT emp_name FROM employees WHERE dept_id = (SELECT dept_id FROM departments WHERE dept_name = 'Engineering')`        | `WITH DeptAvg AS (SELECT dept_id, AVG(salary) AS avg_salary FROM employees GROUP BY dept_id) SELECT * FROM DeptAvg`                                                         | `CREATE VIEW EmployeeSalaryView AS SELECT emp_name, salary FROM employees WHERE salary > 60000`                                                                                     |

## üìù Summary of Key Points

- **Subqueries** are great for simple, inline filtering or aggregation, but they can become difficult to manage when **nested deeply**.  
  They're evaluated **for each row** when used in the `WHERE` or `SELECT` clause.

- **CTEs** are best for improving **readability** and **manageability** of complex queries.  
  They allow breaking down logic into digestible parts and are great for **recursive queries** or **reusable subqueries** within a single query.

- **Views** are useful for **abstracting** and **simplifying** complex queries.  
  They can also enhance **security** by limiting the data exposed.  
  Views are **persistent** and **reusable** across multiple queries.

## üß† Practice Exercises: Subqueries, CTEs, and Views

Use the `employees` and `departments` tables to write SQL queries that solve the following problems. Try to apply subqueries, CTEs, and views as appropriate.

---

### üîç Subqueries Practice Exercises

1. Find all employees whose salary is greater than the average salary of the entire company.
2. List the employees who earn more than the average salary in their department.
3. Find the employees who work in the same department as **'Bob'**.
4. Get the employees who have a higher salary than the second-highest salary in the company.
5. List all departments that have more than 3 employees.
6. Find employees who are in a department that has at least one employee earning more than **$70,000**.
7. List the employees who earn less than the highest salary in the **'Engineering'** department.
8. Get the names of employees who have a salary greater than the average salary of their department, but only for employees in the **'Marketing'** department.

---

### üß± CTEs Practice Exercises

1. Create a CTE that calculates the average salary per department and use it to list employees whose salary is higher than their department‚Äôs average.
2. Create a **recursive CTE** to find the manager-subordinate hierarchy starting with the highest-paid employee.
3. Using a CTE, find the employees who have the **highest salary** in their department, and show their names and the department's average salary.
4. Create a CTE that calculates the **total salary by department** and use it to find departments with a total salary expense greater than **500,000** Dollars.
5. Write a CTE that calculates the number of employees in each department and use it to list departments with more than **5 employees**.
6. Use a CTE to find employees who earn more than **$80,000** and have been with the company for more than **5 years**.
7. Write a CTE to find the average salary for each department and the **difference between each employee's salary and the department's average**.
8. Create a CTE that ranks employees by salary within their department and show the **top 3 highest-paid employees** from each department.

---

### ü™ü Views Practice Exercises

1. Create a view to display all employees' names, their salary, and their department names.
2. Create a view that shows the **total salary expenses** per department.
3. Create a view that shows only employees who earn more than **60,000** Dollars and are in the **'Engineering'** department.
4. Create a view to list employees who have been with the company for more than **5 years**, excluding the salary column.
5. Create a view to show the departments and the **average salary** for each department.
6. Create a view that provides a summary of the employees in each department, showing the **number of employees** and the **total salary** for each department.
7. Create a view to show only employees in the **'Sales'** department with salaries greater than **$50,000**.
8. Create a view to list the employees who are making the **highest salary** in their respective departments.
9. Create a view that shows the names of employees who earn more than the **average salary in the company** and display their department names.
10. Create a view that shows employees and their **salary differences from the department's average salary**.